# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
# POSTGRES_URL=
# POSTGRES_PRISMA_URL=
# POSTGRES_URL_NON_POOLING=
# POSTGRES_USER=
# POSTGRES_HOST=
# POSTGRES_PASSWORD=
# POSTGRES_DATABASE=

POSTGRES_URL=postgres://localhost:5432/dashboard
POSTGRES_PRISMA_URL=postgres://localhost:5432/myprismadatabase
POSTGRES_URL_NON_POOLING=postgres://localhost:5432/mynonpoolingdatabase
POSTGRES_USER=postgress
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=123456
POSTGRES_DATABASE=dashboard

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth